absl-py==2.1.0
chex==0.1.85
distrax==0.1.5
dm-haiku==0.0.11
dm-pix==0.4.2
immutabledict==4.1.0
jaxlib==0.4.24
jaxline==0.0.8
ml-collections==0.1.1
numpy==1.25.2
optax==0.1.9
pillow==10.3.0
scipy==1.11.4
tensorflow[and-cuda]==2.17.1  # for gpu compatibility
tensorflow-probability==0.24.0  # for distrax
tf_keras==2.17.0  # for tensorflow-probability
tqdm==4.66.3

--pre
--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12]==0.4.24  # change to `cuda11` if using cuda11

# Note that torch is only used for data loading, so can use cpu only verison.
# Using gpu version will give conflict with tf for required nvidia-cublas-cu12 version.
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.8.0
torchvision==0.17.0+cpu
